RewriteEngine On

RewriteRule ^event?$ 404.php
RewriteRule ^event/?$ 404.php
RewriteRule ^event/([+a-zA-Z0-9]+)/?$ pengumuman_.php?judul=$1

RewriteRule ^about?$ 404.php
RewriteRule ^about.php?$ 404.php
RewriteRule ^about/?$ about_.php


RewriteRule ^contact?$ 404.php
RewriteRule ^contact/?$ contact_.php